body {
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: #CCFFFF;
}

#container {
    width: 50vw;
    height: 86vh;
    border: 5px solid black;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    background-color: rgba(255, 255, 0, 0.4);
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
}

div.flexs {
    width: calc(100% - 6vw);
    height: 7vh;
    margin-left: 3vw;
    font-size: 20px;
}

input, select {

    border: none;
    font-size: 20px;
    width: 100%;
}

#chinhsua {
    text-align: center;
}

div#chinhsua > button {
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(191, 192, 206);
    margin-top: 4vh;
    height: 60%;
    width: 40%;
    font-size: 80%;
}

div#chinhsua > button:hover {
    color: rgba(17, 0, 250, 1);
}

@media screen and (max-aspect-ratio : 1/1) {
    
    #container {

        width: 80vw;
    }

}

@media screen and (max-aspect-ratio : 1/1) and (min-width : 1000px) {
    
    div.flexs {

        font-size: 40px;
    }

    input, select {

        font-size: 40px;
    }

}

@media screen and (max-width : 900px) {

    div.flexs {

        font-size: 20px;
    }

    input, select {

        font-size: 20px;
    }

}

@media screen and (max-width : 760px) {
    
    #container {
        width: calc(100vw - 40px);
        border: 2px solid black;
    }

    div.flexs {

        font-size: 15px;
    }

    input, select {

        font-size: 15px;
    }
    
}

div#notify {

    background-color: rgb(252, 252, 252);
    border-radius: 20px;
    border: 2px solid black;
    width: 280px;
    height: 100px;
    text-align: center;
    margin-top: 50px;
    margin-left: calc(50vw - 140px);
    position: absolute;
    z-index: 1;
    top: 50px;
    display: none;
}

#okee {

    position: relative;
    height: 20px;
    top : 40px;
}